<div class="profile-page-container">
        <div id="profile-img-container">
            {{!-- <img src="http://blogs.cuit.columbia.edu/asj2122/files/2013/07/profile.jpg" id="profile-img">        --}}
        </div>
        <div class="row" id="profile-page-header">
        </div>
        <nav class="row" id="profile-nav">
                <a href="#" id="profile-logo">0</a>
            <span id="username-display">{{displayName}}</span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html" class="nav-links">General Chat</a></li>
                <li><a href="collapsible.html" class="nav-links">Edit Profile</a></li>
            </ul>
        </nav>
        <div class="row" id="profile-page-content">
         
        </div>

        
    </div>




