.search-results {
    margin-top: 75px;
}

.fullscreen-bg_video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -100;
}

#main-page-container {
	width: 100%;
	height: 100vh;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}
.profile {
    background-color: white;
    height: 100vh;
    width: 85%;
	position: static;
	margin-top: 0;
}
.fb-image-lg {
    width: 100%;
    max-height: 300px;
}

.thumbnail {
	width: 25%;
	margin-right: 20px;
}
.fb-profile {
    position: static;
}

.updateBanner {
    position: relative;
    z-index: 9;
    float: right;
    top: 40px;
    right:10px;
}

#profile-page {
	margin-top: 0;
}

.clear {
	clear: both;
}

button[data-class='PM-button'] {
	float: right;
}

.username {
	font-size: 4vw;
	margin-left: 2%
}

@media screen and (max-width: 1024px) {
	.bio {
		font-size: 20px;
	}
}

@media screen and (max-width: 500px) {
	.username {
		font-size: 25px;
	}
}